
<%= form_for(quest) do |f| %>
  <div class="row">
      <div class="col-md-2"><%= f.label :name, "Name", class: "font-weight-bold white-darker-hover" %></div>
      <div class="col-md-6"><%= f.text_field :name, placeholder: " Type your Quest Name here " %></div>
  </div>

  <%= render 'shared/errors', record: quest %>

  <div class="actions">
    <%= f.submit ' Save ', :class => 'btn btn-large btn-primary' %>
    <%= link_to 'Cancel', quests_path, :class => 'btn btn-large btn-primary' %>
  </div>
<% end %>
