
<%= form_for(quest) do |f| %>
  <div class="row">
      <div class="col-md-2"><%= f.label :name, "Name", class: "font-weight-bold white-darker-hover" %></div>
      <div class="col-md-4"><%= f.text_field :name, placeholder: " Type your Quest Name here " %></div>
      <div class="col-md-2"><%= f.submit 'Save' %></div>
  </div>
  <br>
  <%= render 'shared/errors', record: quest %>

<% end %>
