<%= render 'form', quest: @quest %>
<br><br>

<div class="row">
    <div class="col-md-6"><%= render 'steps/index' %></div>
    <div class="col-md-6"><%= render 'prereqs' %></div>
</div>
<br><br>
<% if @quest.steps.present? %>
  <% if @quest.is_published %>
    <%= link_to 'Unpublish', unpublish_quest_path(@quest), method: :post, :class => 'btn btn-large btn-primary' %></td>
  <% else %>
    <%= link_to 'Publish', publish_quest_path(@quest), method: :post, :class => 'btn btn-large btn-primary' %></td>
  <% end %>
<% end %>
<%= link_to 'Quest List', quests_path, :class => 'btn btn-large btn-primary' %>
