<%= form_for(@team) do |f| %>

  <div class="row">
      <div class="col-md-2"><%= f.label :name, "Name", class: "font-weight-bold white-darker-hover" %></div>
      <div class="col-md-6"><%= f.text_field :name, placeholder: " Type your Team Name here " %></div>
  </div>

  <%= f.hidden_field :team_captain_id, :value => current_user.id %>

  <%= render 'shared/errors', record: @team %>

  <br><br>
  <div class="actions">
    <%= f.submit ' Save ', :class => 'btn btn-large btn-primary' %>
    <%= link_to 'Cancel', root_path, :class => 'btn btn-large btn-primary' %>
  </div>
<% end %>


