<table class="table table-hover table-striped table-nonfluid">
    <thead class="color-header">
      <tr>
        <th scope="col">Join Requests</th>
        <th scope="col" colspan="2">
          <% if @team.ignorejoins %>
            <%= link_to 'View', watch_joins_team_path(@team), method: :post, :title => 'View Join Requests ' + @team.name, class: 'btn btn-primary btn-sm' %>
          <% else %>
            <%= link_to 'Ignore', ignore_joins_team_path(@team), method: :post, :title => 'Ignore Join Requests ' + @team.name, class: 'btn btn-primary btn-sm' %>
          <% end %>
        </th>
      </tr>
    </thead>

  <tbody>
    <% if @team.ignorejoins %>
      <th scope="row" colspan="3">Ignoring...</th>
    <% else %>
      <% @join_requests.each do |join_request| %>
        <tr>
          <th scope="row"><%= join_request.user.display_name %>&nbsp&nbsp&nbsp&nbsp</th>

          <% if @team.captain.id == join_request.user.id || @team.captain.id != current_user.id %>
            <td itemscope><%= ' ' %></td>
            <td itemscope><%= ' ' %></td>
          <% else %>
            <td itemscope><%= link_to 'Deny', deny_join_request_team_path(@team, user_id: join_request.user.id), method: :post, :title => 'Deny ' + join_request.user.display_name, data: { confirm: 'Are you sure you want to deny the join request for ' + join_request.user.display_name + '?' } %></td>
            <td itemscope><%= link_to 'Accept', accept_join_request_team_path(@team, user_id: join_request.user.id), method: :post, :title => 'Accept ' + join_request.user.display_name %></td>
          <% end %>

        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
