
<div class="panel-heading">
  <h4 class="font-weight-bold">Your Quests</h4>
</div>

<div class="panel-body centered-content">
  <div class="row" style="padding: 10px;">
    <%= link_to "Journey to Africa", root_path, class: "btn btn-large btn-primary" %>
    <%= link_to "Outback Expedition", root_path, class: "btn btn-large btn-primary" %>
    <%= link_to "To the Moon!", root_path, class: "btn btn-large btn-primary" %>
    <%= link_to "Dig into AWS", root_path, class: "btn btn-large btn-primary" %>
    <%= link_to "Get that Email!", root_path, class: "btn btn-large btn-primary" %>
  </div>
</div>

