<h1>Teams</h1>

<%= link_to "Export", export_teams_path(format: "csv"), class: "btn btn-large btn-warning mb-2" %>

<% if Team.all.count > APP_CONFIG['page_size'] %>
  <div class="apple_pagination">
      <div class="page_info">
        <%= page_entries_info @teams %>
      </div>
      <%= will_paginate @teams, :container => false, :renderer => Paginationrenderer  %>
  </div>
<% end %>

<table class="table table-hover table-striped table-nonfluid">
    <thead class="color-header">
      <tr>
        <th scope="col">Name&nbsp&nbsp&nbsp&nbsp</th>
        <th scope="col"></th>
      </tr>
    </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <th scope="row"><%= team.name %>&nbsp&nbsp&nbsp&nbsp</th>
        <td itemscope><%= link_to 'Delete', team, method: :delete, :title => 'Delete ' + team.name, data: { confirm: 'Delete this team?' } %></td>
        <td itemscope><%= link_to 'Edit', edit_team_path(team) %></td>
        <td itemscope><%= link_to 'Dashboard', dashboard_team_path(team) %></td>
        <td itemscope><%= link_to 'Manage', details_team_path(team) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if Team.all.count > APP_CONFIG['page_size'] %>
  <div class="apple_pagination">
      <div class="page_info">
        <%= page_entries_info @teams %>
      </div>
      <%= will_paginate @teams, :container => false, :renderer => Paginationrenderer %>
  </div>
<% end %>


