<h1>Team Scores</h1>

<% if @teams.count > 20 %>
<div class="apple_pagination">
    <div class="page_info">
      <%= page_entries_info @teams %>
    </div>
    <%= will_paginate @teams, :container => false, :renderer => Paginationrenderer  %>
</div>
<% end %>

<table class="table table-hover table-striped table-nonfluid">
  <thead class="color-header">
    <tr>
      <th scope="col">Team Name&nbsp&nbsp&nbsp&nbsp</th>
      <th scope="col">Score</th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <th scope="row"><%= team.name %>&nbsp&nbsp&nbsp&nbsp</th>
        <td itemscope><%= team.total_score.to_s %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @teams.count > 20 %>
<div class="apple_pagination">
    <div class="page_info">
      <%= page_entries_info @teams %>
    </div>
    <%= will_paginate @teams, :container => false, :renderer => Paginationrenderer %>
</div>
<% end %>
