<% if @teams.count > APP_CONFIG['page_size'] %>
  <div class="apple_pagination">
      <div class="page_info">
        <%= page_entries_info @teams %>
      </div>
      <%= will_paginate @teams, :container => false, :renderer => Paginationrenderer  %>
  </div>
<% end %>

<table class="table table-hover table-striped table-nonfluid">
    <thead class="color-header">
      <tr>
        <th scope="col"><%= " Team Name " %></th>
        <th scope="col"><%= " Captain " %></th>
        <th scope="col"><%= " Members " %></th>
        <th scope="col"></th>
      </tr>
    </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <th scope="row"><%= team.name %>&nbsp&nbsp&nbsp&nbsp</th>
        <td><%= team.captain_name %>&nbsp&nbsp&nbsp&nbsp</td>
        <td><%= team.users.count.to_s + "/" + APP_CONFIG['max_teamsize'].to_s %>&nbsp&nbsp&nbsp&nbsp</td>
        <% if Joinrequest.where(user_id: current_user.id, team_id: team.id).present? %>
          <td itemscope><%= link_to 'Cancel', cancel_join_request_team_path(team), method: :post, :title => 'Cancel Join ' + team.name, class: 'btn btn-outline-danger btn-sm' %></td>
        <% else %>
          <td itemscope><%= link_to 'Join', request_join_team_path(team), method: :post, :title => 'Join ' + team.name, class: 'btn btn-outline-success btn-sm' %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @teams.count > APP_CONFIG['page_size'] %>
  <div class="apple_pagination">
      <div class="page_info">
        <%= page_entries_info @teams %>
      </div>
      <%= will_paginate @teams, :container => false, :renderer => Paginationrenderer %>
  </div>
<% end %>

<br>

<%= link_to 'Create a new team', new_team_path, :class => 'btn btn-large btn-primary' %>
