<div style="background: #4285F4;">
  <h2 class="font-weight-bold text-center" style="color: white; padding: 10px;"><%= current_user.team.name %></h2>
  <h4 class="font-weight-bold text-center" style="color: green; padding: 10px;"><%= @teamquest.quest.name %></h4>
</div>

<div class="text-center">
  Score:<%= '  ' + @teamquest.score_earned.to_s + "/" + @teamquest.quest.total_score.to_s %>
</div>

<div>
  <table class="table table-hover table-striped table-nonfluid">
      <thead class="color-header">
        <tr>
          <th scope="col"><%= '        ' %></th>
          <th scope="col"><%= ' Points ' %></th>
          <th scope="col"><%= '  Name  ' %></th>
        </tr>
      </thead>

    <tbody>
      <% @teamquest.quest.steps.each do |step| %>
        <tr>
          <th scope="row">
            <% found=false %>
            <% if @teamquest.is_step_completed(step.step_number) %>
              <%= "completed  " %>
              <%= link_to step_teamquest_path(id: @teamquest.id, step_id: step.id) do  %>
                <%= fa_icon "eye" %>
              <% end %>
            <% elsif @teamquest.is_next_step(step.step_number) %>
              <%= link_to 'continue', step_teamquest_path(id: @teamquest.id, step_id: step.id), :title => 'continue', class: "btn btn-primary btn-sm" %>
              <% found=true %>
            <% end %>
          </th>
          <td><%= step.points %></td>
          <td><%= step.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="row mx-auto">
    <%= link_to 'Dashboard', dashboard_team_path(current_user.team), :title => 'Dashboard', class: "btn btn-large btn-warning col-2" %>
</div>
