<%= form_with(model: user, local: true) do |f| %>
  <div class="row">
      <%= f.label :name, "Name", class: 'col-md-2' %>
      <%= f.text_field :name, class: 'col-md-6', :disabled=>false %>
  </div>

  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
