<%= form_for(step) do |f| %>

  <%= f.hidden_field :quest_id, :value => quest.id %>

  <div class="row">
    <div class="col-md-2"><%= f.label :step_number, "Step Number", class: "font-weight-bold white-darker-hover" %></div>
    <div class="col-md-2"><%= f.number_field :step_number %></div>
  </div>

  <div class="row">
      <div class="col-md-2"><%= f.label :name, "Name", class: "font-weight-bold white-darker-hover" %></div>
      <div class="col-md-6"><%= f.text_field :name, placeholder: " Type your Step Name here " %></div>
  </div>

  <div class="row">
    <div class="col-md-2"><%= f.label :points, "Points", class: "font-weight-bold white-darker-hover" %></div>
    <div class="col-md-2"><%= f.number_field :points %></div>
  </div>

  <div class="row">
    <div class="col-md-2"><%= f.label :body, "Body", class: "font-weight-bold white-darker-hover" %></div>
    <div class="col-md-6"><%= f.text_field :body %></div>
  </div>

  <div class="row">
    <div class="col-md-2"><%= f.label :answer, "Answer", class: "font-weight-bold white-darker-hover" %></div>
    <div class="col-md-6"><%= f.text_field :answer %></div>
  </div>

  <%= render 'shared/errors', record: step %>

  <div class="actions">
    <%= f.submit ' Save ', :class => 'btn btn-large btn-primary' %>
    <%= link_to 'Cancel', root_path, :class => 'btn btn-large btn-primary' %>
  </div>
<% end %>
